@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #0e5b70;
  --color-dark-hover: #0c4e5f;
  --color-medium: #A3D0FF;
  --color-light: #efedfd;
  --color-light-hover: #e3e1f7;
}

/* Background */
body {
  background-color: var(--color-light);
}

.bg-light {
  background-color: var(--color-light);
}

.bg-dark {
  background-color: var(--color-dark);
}

/* Border */
.border-light {
  border-color: var(--color-light);
}

.border-dark {
  border-color: var(--color-dark);
}

/* Text */
.text-light {
  color: var(--color-light);
}

.text-dark {
  color: var(--color-dark);
}

/* Hover underline effect */
.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  background-color: var(--color-dark);
  transition: transform 0.3s ease;
}

.hover-underline:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* Button */
.btn {
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-dark);
  border-radius: 0.5rem;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--color-dark-hover);
}

.btn-secondary {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.btn-secondary:hover {
  background-color: var(--color-light-hover);
}

@keyframes move-arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.btn:hover .arrow {
  animation: move-arrow 0.5s ease-in-out forwards;
}

/* Literature */
.literature-modal {
  background-color: rgb(255, 255, 255, 0.2);
}

.literature-modal .btn-secondary {
  background-color: rgb(255, 255, 255, 0.2);
}

/* Tech */
.tech-modal img {
  transition: transform 0.3s ease;
}

.tech-modal:hover img {
  transform: scale(1.08);
}

/* Social Media icons */
.social-media-icon {
  transition: transform 0.3s ease;
}

.social-media-icon:hover {
  transform: scale(1.2);
}

/* Input Fields */
.input {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  transition: background-color .5s ease;
}

.input:focus,
.input:not(:placeholder-shown) {
  background-color: rgba(255, 255, 255, 0.8);
}